body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column; /* Stack rows vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Optional: Set container height for full viewport */
}
.button-row {
  display: flex;
  justify-content: space-evenly; /* Distribute buttons evenly */
}
button {
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

